@import "reset.scss";
@import "vars.scss";
@import "fonts.scss";

:root, .theme-primary {
  --base-font-size: 32px;

  --header-font-family: 'EB Garamond';
  --header-font-size: 3rem;
  --header-font-size-sm: 1.5rem;

  --body-font-family: 'Gotham';
  --body-font-size: 1rem;
  --body-font-size-sm: .75rem;
  --body-font-size-xs: .625rem;

  --color-fg: #C2B560;
  --color-bg: #262729;
  --color-accent1: #3f4043;
}

.theme-admin {
  --base-font-size: 16px;

  --color-bg: #FFFFFF;
  --color-fg: #262729;
  --color-error: #CC421C;
  --color-accent1: #1C5A7D;
  --color-accent2: #006098;
  --color-accent3: #2D7150;
  --color-accent4: #a7d2eb;

  --header-font-family: 'Gotham';
  --body-font-family: 'Montserrat';
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--base-font-size);
}

body, select, option, input {
  font-family: var(--body-font-family);
  font-weight: 300;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 1rem;
  font-family: var(--body-font-family);
  font-weight: 300;
}

a.button, input[type=text], button {
  color: var(--color-fg);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type=text] {
  background-color: unset;
  border-bottom: solid thin var(--color-fg);
  font-style: italic;
}

input[type=date] {
  border: solid thin var(--color-fg);
  border-radius: 2px;
  width: 8em;
}

select, option, input {
  font-size: inherit;
}

a.button, button {
  background-color: var(--color-accent1);
  border: solid thin var(--color-fg);
  border-radius: $spacer-xxs;
  cursor: pointer;
  padding: 4px;
  text-decoration: none;

  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% !important;
    padding: 0 !important;
    height: 2em;
    width: 2em;
  }
}

a.button.action, button.action {
  background-color: var(--color-fg);
  color: var(--color-bg);
  font-weight: 500;
}

p {
  margin-bottom: $spacer;
}

select {
  cursor: pointer;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: inherit;
  position: relative;

  option {
    font-size: inherit;
  }
}


.file-input {
  position: relative;
  text-align: center;
  height: 1.5em;

  input {
    width: 0;
    height: 0;
  }

  .button {
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    white-space: nowrap;

    svg { margin-left: 0.5rem; }
  }
}

@keyframes pulseOpacity {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.divider { text-align: center; }
