$color-fg: #C2B560;
$color-bg: #262729;

$header-font-family: 'EB Garamond';
$body-font-family: 'Gotham';

$header-font-size: 3rem;
$header-font-size-sm: 1.5rem;

$body-font-size: 1rem;
$body-font-size-sm: .75rem;
$body-font-size-xs: .625rem;

$spacer-xxs: .125rem;
$spacer-xs: .25rem;
$spacer-sm: .5rem;
$spacer: 1rem;
$spacer-md: 2rem;
$spacer-lg: 3rem;
$spacer-xl: 4rem;
