$color-fg: #C2B560;
$color-bg: #262729;

$header-font-family: 'EB Garamond';
$body-font-family: 'Montserrat';

$body-font-size: 1rem;
$body-font-size-xs: .75rem;
$body-font-size-xs: .625rem;

$spacer-xs: .25rem;
$spacer-sm: .5rem;
$spacer: 1rem;
$spacer-md: 2rem;
$spacer-lg: 3rem;
$spacer-xl: 4rem;
