$maxMobileWidth: 600px;
$maxTabletWidth: 1079px;
$largeDesktopMinWidth: 1440px;
$ultrawideMinWidth: 1920px;

$spacer-xxs: .125rem;
$spacer-xs: .25rem;
$spacer-sm: .5rem;
$spacer: 1rem;
$spacer-md: 2rem;
$spacer-lg: 3rem;
$spacer-xl: 4rem;
