@import "~@/styles/vars";
@import "~@/styles/forSize.mixin";

#administration #admin-nav {
  background-color: var(--color-accent1);
  color: var(--color-bg);

  ul {
    list-style: none;

    li {
      font-size: 2rem;

      a {
        color: var(--color-bg);
        display: flex;
        align-items: center;
        font-family: "Gotham XNarrow";
        text-align: left;
        text-decoration: none;
        height: 3.5rem;
        width: 100%;

        div {
          display: flex;
          align-content: center;
          justify-content: center;
          width: 3.1rem;
        }

        &.router-link-exact-active {
          background-color: var(--color-bg);
          color: var(--color-accent1);

          div svg.ootf-icon {
            fill: var(--color-accent1);
            stroke: var(--color-accent1);
          }
        }

        &:hover {
          background-color: var(--color-accent4);
          color: var(--color-fg);

          div svg.ootf-icon {
            fill: var(--color-fg);
            stroke: var(--color-fg);
          }
        }

        svg {
          height: auto;

          &.ootf-icon {
            fill: var(--color-bg);
            stroke: var(--color-bg);
          }
        }
      }
    }
  }

  .debug-info {
    opacity: 0.25;
    transition: opacity 0.25s;
    .responsive-size, .version-info { display: none; }

    &:hover {
      opacity: 1;
      .responsive-size, .version-info { display: block; }
      .version-abbr { display: none; }
    }

    .responsive-size * { display: none; }
  }
}

@include forSize(notMobile) {
  #administration #admin-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .upci-logo, .upci-icon {
      height: auto;
      width: var(--nav-width);
      fill: var(--color-bg);
    }

    h1 {
      border-bottom: solid thin var(--color-bg);
      font-family: "Gotham";
      font-weight: 500;
      font-size: 2.25rem;
      margin: 0 1em;
      text-align: start;
      width: calc(100% - 5rem);
    }

    ul {
      padding: $spacer-sm 0;

      a {
        padding: $spacer-sm $spacer-md $spacer-sm $spacer-md;

        svg {
          width: 1em;
          &.ootf-icon { width: 2.4rem; }
        }
      }
    }

    button.collapse, button.expand {
      align-self: end;
      background-color: var(--color-accent1);
      filter: none;
      color: var(--color-bg);
      font-family: "Gotham XNarrow";
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1em;
      padding: 0 $spacer-sm;

      &:hover {
        background-color: var(--color-accent4);
        color: var(--color-fg);
      }
    }

    button.collapse { margin-right: 1em; }

    button.expand {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    button.expand, .upci-icon { display: none; }

    .debug-info {
      margin: auto 1rem 1rem auto;
      font-size: 1em;
      text-align: right;

      .version-info li {
        font-size: 1em;

        label { font-weight: 400; }
        span {
          display: inline-block;
          width: 5em;
        }
      }
    }

    .user-info {
      margin: 0  $spacer $spacer-xl auto;
      .short { display: none; }
    }
  }

  #administration #admin-nav.collapsed {
    button.collapse,
    .upci-logo {
      display: none;
    }

    button.expand, .upci-icon { display: block; }

    .link-title, h1 { display: none; }

    ul {
      padding: $spacer 0;

      a {
        padding: 0.5rem 0;

        div {
          margin: 0 auto;
        }
      }
    }

    .user-info {
      margin: 0 auto $spacer-xl auto;

      .full { display: none; }
      .short { display: inline; }
    }

    .debug-info {
      margin: auto 1rem 1rem 1rem;
      font-size: 0.75em;
    }
  }
}

@include forSize(mobile) {
  #administration #admin-nav {

    .upci-logo, .upci-icon, h1, .link-title, .expand, .collapse {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-content: stretch;
      justify-content: space-between;
      padding: 0;
      height: 100%;

      li {
        flex-grow: 1;

        a {
          height: 100%;
          justify-content: center;

          div svg {
            width: 2.4rem;
          }
        }
      }
    }

    .debug-info .responsive-size .mobile { display: inline-block; }
  }
}

@include forSize(tablet) {
  #administration #admin-nav .debug-info .responsive-size .tablet {
    display: inline-block;
  }
}

@include forSize(desktop) {
  #administration #admin-nav .debug-info .responsive-size .desktop {
    display: inline-block;
  }
}

@include forSize(ultrawide) {
  #administration #admin-nav {
    h1 { font-size: 2.5rem; }
    .debug-info .responsive-size .ultrawide { display: inline-block; }
  }
}
