.DS_Store
node_modules
/webapp/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform local state
.terraform/

# Build artifacts
webapp/dist
api/dist
api/lambda/verify_jwt.zip

# Local copies of assets that should live in S3 or in other places
webapp/public/data/app.config.json
webapp/public/img/
