#set($inputRoot = $input.path('$'))
{
  "count": $inputRoot.Count,
  "%LIST_NAME%": [
    #foreach ($rec in $input.path('$.Items[*].record.S'))
      #if($foreach.index!=0),#end $util.base64Decode($rec)
    #end
  ] #if($input.path('$.LastEvaluatedKey')),
  "nextPageStartsAfter": $input.json('$.LastEvaluatedKey.id.S')
  #end
}
