#set($inputRoot = $input.path('$'))
{
  "count": $inputRoot.Count,
  "ministers": [
    #foreach ($m in $input.path('$.Items[*].record.S'))
      #if($foreach.index!=0),#end $util.base64Decode($m)
    #end
  ] #if($input.path('$.LastEvaluatedKey')),
  "nextPageStartsAfter": $input.json('$.LastEvaluatedKey.id.S')
  #end
}
