@import "~@/styles/vars";
@import "~@/styles/forSize.mixin";

@include forSize(tablet) {
  html {
    font-size: calc(var(--base-font-size) * 0.75);
  }
}

#administration {

  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--body-font-family);
  min-height: 100vh;

  display: grid;
  grid-template-columns: var(--nav-width) auto;
  grid-template-areas: "nav main";

  h1, h2 {
    text-shadow: none;
    font-family: var(--header-font-family);
    font-weight: 500;
  }

  #admin-nav {
    grid-area: nav;
    width: var(--nav-width);

  }

  .admin-content-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    header .button { white-space: nowrap; }

  }

  button, .button {
    background-color: var(--color-bg);
    border: none;
    color: var(--color-fg);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;

    &.primary {
      background-color: var(--color-accent2);
      color: var(--color-bg);
    }

    &.action {
      background-color: var(--color-accent3);
      color: var(--color-bg);
    }

    &:focus {
      background-color: var(--color-accent4);
      color: var(--color-fg);
    }

    &:disabled {
      cursor: not-allowed;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)) grayscale(100%);
      opacity: 0.7;
    }

    &.icon {
      border-radius: 100%;
      padding: 0.75em;
    }

    &.low-profile {
      background-color: unset;
      filter: none;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: var(--body-font-family);

    thead {
      background-color: var(--color-bg);
      position: sticky;
      top: 0;
    }

    tr { cursor: pointer; }

    tr:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    th {
      border-bottom: solid thin var(--color-fg);
      font-weight: 400;
      text-align: left;
    }

    td a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
      width: 100%;
    }
  }
}

@include forSize(mobile) {
  #administration {
    grid-template-columns: auto;
    grid-template-rows: auto 4rem;
    grid-template-areas: "main" "nav";
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1rem; }

  #admin-nav { width: 100%; }

  .admin-view-content {
    align-items: center;
    padding: $spacer;
  }
}

@include forSize(notMobile) {
  #administration {
    --nav-width: 22.5rem;
    &.navCollapsed { --nav-width: 4rem; }

    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }

    button, .button {
      border-radius: $spacer-xs;
      padding: $spacer-xs $spacer;
    }

    .admin-content-view {

      font-size: 1.25rem;
      padding: $spacer-md;

      header {
        margin-top: 1.76rem;

        h1 { margin-right: $spacer-lg; }
        button, .button { font-size: 2rem; }

        > div {
          display: flex;
          flex-grow: 1;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: baseline;
        }

        .search {
          flex: 1 1;
          font-size: 1.5rem;
          max-width: 18em;
          min-width: 10em;
          display: flex;
          align-items: center;
          flex-direction: row;
          border-bottom: solid thin var(--color-fg);
          margin-left: auto;

          input[type="text"] {
            color: var(--color-fg);
            border: none;
            padding: 0 $spacer;
            font-style: unset;
            flex: 1 1;
            width: 100%;
          }
        }

        .button { margin-left: $spacer-lg; }
      }
    }
  }
}

@include forSize(ultrawide) {
  #administration {
    --nav-width: 32rem;
    &.navCollapsed { --nav-width: 4rem; }

    h1 { font-size: 4rem; }
    h2 { font-size: 2.5rem; }
    h3 { font-size: 2rem; }

    .admin-content-view {

      font-size: 1.5rem;
      padding: $spacer-lg;

      header {
        margin-top: 2.7rem;

        h1 { margin-right: $spacer-xl; }
        .search { font-size: 2rem; }

        button, .button {
          font-size: 2.5rem;
          margin-left: $spacer-xl;
        }
      }
    }
  }
}

#measuring-stick {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 17.2rem;
  border-top: solid thin red;
}
