@import "~@/styles/vars";
@import "~@/styles/forSize.mixin";

html { font-size: 16px; }

@include forSize(tablet) { html { font-size: 12px; } }

#administration {

  --admin-color-bg: #FFFFFF;
  --admin-color-fg: #262729;
  --admin-color-accent1: #1C5A7D;
  --admin-color-accent2: #006098;
  --admin-color-accent3: #2D7150;

  --admin-header-font-family: 'Gotham';
  --admin-body-font-family: 'Montserrat';


  background-color: var(--admin-color-bg);
  color: var(--admin-color-fg);
  min-height: 100vh;

  display: grid;
  grid-template-columns: var(--nav-width) auto;
  grid-template-areas: "nav main";

  h1 {
    text-shadow: none;
    font-family: var(--admin-header-font-family);
    font-weight: 500;
  }

  nav {
    grid-area: nav;
    width: var(--nav-width);

  }

  button, .button {
    background-color: var(--admin-color-bg);
    border: none;
    color: var(--admin-color-fg);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;

    &.active {
      background-color: var(--admin-color-accent3);
      color: var(--admin-color-bg);
    }

    &:focus {
      background-color: var(--admin-color-accent2);
      color: var(--admin-color-bg);
    }
  }
}

@include forSize(mobile) {
  #administration {
    grid-template-columns: auto;
    grid-template-rows: auto 4rem;
    grid-template-areas: "main" "nav";
  }

  h1 { font-size: 2rem; }

  nav { width: 100%; }
}

@include forSize(notMobile) {
  #administration {
    --nav-width: 22.5rem;
    &.navCollapsed { --nav-width: 4rem; }

    h1 {
      font-size: 3rem;
    }

    button, .button {
      border-radius: $spacer-xs;
      font-size: 2rem;
      padding: $spacer-xs $spacer;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      margin-top: 1.76rem;
    }
  }
}

@include forSize(ultrawide) {
  #administration {
    --nav-width: 32rem;
    &.navCollapsed { --nav-width: 4rem; }

    h1 { font-size: 4rem; }

    button, .button { font-size: 2.5rem; }

    .header { margin-top: 2.7rem; }
  }
}

#measuring-stick {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 17.2rem;
  border-top: solid thin red;
}
