@import "~@/styles/vars";
@import "~@/styles/forSize.mixin";

#edit-minister.admin-content-view {
  .header {
    align-items: flex-end;
    border-bottom: solid thin var(--color-fg);
  }

  .minister-details {
    font-weight: 400;

    .minister-photo {
      font-size: 32px;

      .photo-frame { background-color: var(--color-accent1); }
      .photo-holder { border-color: var(--color-accent2); }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;

    button {
      margin: 0 $spacer;
      &.save { margin-left: auto; }
    }
  }
}

@include forSize(notMobile) {
  #edit-minister.admin-content-view {
    height: 100vh;

    .header {
      margin-top: 7.05rem;

      .record-options > * { display: block; }
    }

    .minister-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      flex: 1 1;
      margin: $spacer-md 0;
      min-height: 0;

      .minister-photo { margin-right: $spacer-md; }

      .basic-details {
        align-self: stretch;
        flex: 1 1;
        min-height: 0;

        display: flex;
        flex-direction: column;

        > label {
          display: block;
          margin-bottom: $spacer;

          span {
            display: inline-block;

            .tooltip { opacity: 0; }
          }

          &:hover, &:focus, &:focus-within {
            span .tooltip { opacity: 1; }
          }
        }

        .tooltip.error { display: none; }

        input:invalid:not(:focus) ~ .tooltip.error,
        .invalid:not(:focus) ~ .tooltip.error { display: inline-block; }

        .name {
          padding-left: 5.5em;
          position: relative;

          span {
            position: absolute;
            left: 0;
            top: 0.1em;
          }

          input { margin-right: 0.5em; }
          input[name=prefix], input[name=suffix] { width: 3em; }
          input[name=given], input[name=surname] { width: 7em; }
          input.middle { width: 5em; }
        }

        .dateOfBirth,
        .dateOfDeath,
        .recordState,
        .slug,
        .ootfYearInducted { span { width: 9em; } }

        .ootfYearInducted input {
          border: solid thin var(--color-fg);
          border-radius: 2px;
          padding-left: 0.5em;
          width: 4.5em;
        }

        .biography {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          flex: 1 1;
          min-height: 0;

          .editor {
            align-self: stretch;
            border: solid thin var(--color-fg);
            flex: 1 1;
            font-weight: 300;
            margin-top: 1em;
            margin-left: 4em;
            padding: 0.5em;
            order: 1;
            overflow-y: auto;
          }

          > .tooltip {
            margin-left: 4em;
            margin-top: 1em;
          }
        }
      }
    }

    .actions button { font-size: 2rem; }
  }
}

@include forSize(tablet) {
  #edit-minister.admin-content-view {
    .minister-details .minister-photo { font-size: 22px; }
  }
}

@include forSize(ultrawide) {
  #edit-minister.admin-content-view {
    .header { margin-top: 9.45rem; }
    .minister-details {
      margin-top: $spacer-lg 0;

      .minister-photo { margin-right: $spacer-lg; }
    }
    .actions button { font-size: 2.5rem; }
  }
}
