@import "~@/styles/vars";
@import "~@/styles/forSize.mixin";

#ministers-table.admin-content-view {

  height: 100vh;

  .table-container {
    overflow-y: auto;
    flex: 1 1;

    table {
      width: 100%;

      td { padding-left: 1rem; }
    }
  }

  .pagination-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: $spacer-sm;

    & > * { margin-left: $spacer-md; }

    ul.pagination {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;

      li a {
        color: var(--color-fg);
        display: block;
        border-radius: 4px;
        padding: $spacer-xxs $spacer-sm;
        margin: $spacer-xxs;
        min-width: 2em;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: var(--color-accent4);
        }
      }

      li.active a {
        background-color: var(--color-accent1);
        color: var(--color-bg);
      }
    }
  }

}

@include forSize(mobile) {
  #ministers-table.admin-content-view {
  }
}

@include forSize(notMobile) {
  #ministers-table.admin-content-view {

    .table-container { margin-top: 3.7rem; }
  }
}

@include forSize(ultrawide) {
  #ministers-table.admin-content-view {
    padding: $spacer-lg $spacer-lg $spacer-lg $spacer-md;

    .table-container { margin-top: 4.8rem; }

    .loading-placeholder {
      font-size: 2.5rem;
    }
  }
}
