{
  "TableName": "%TABLE_NAME%",
  "Item": {
    "record_type": {"S": "minister"},
    "id": {"S": "$input.path('$.id')"},
    "state": {"S": "$input.path('$.state')"},
    "isDeceased": {"BOOL": "$input.path('$.isDeceased')"},
    "isOotF": {
      "BOOL": "#if($input.path('$.ootfYearInducted'))true#{else}false#end"
    },
    "record": {"S": "$util.base64Encode($input.json('$'))"}
  }
}
