{
  "TableName":"%TABLE_NAME%",
  "Limit": 950
#if ($method.request.querystring.state.length() > 0) ,
  "FilterExpression": "#S = :stateVal",
  "ExpressionAttributeNames" : {"#S": "state"},
  "ExpressionAttributeValues": {
    ":stateVal": { "S": "$method.request.querystring.state" }
  },
#end
#if ($method.request.querystring.startAfter.length() > 0) ,
  "ExclusiveStartKey": {
    "id": { "S": "$method.request.querystring.startAfter" }
  }
#end
}
