#set ($hasStartId = $method.request.querystring.startAfter.length() > 0)
{
  "TableName":"%TABLE_NAME%",
  "Limit": 950,
  "KeyConditionExpression": "record_type = :rec_type_val #if ($hasStartId) AND id > :startId#end",
  "ExpressionAttributeValues": {
    ":rec_type_val": { "S": "%RECORD_TYPE%" }
#if ($hasStartId) , ":startId": { "S": "$method.request.querystring.startAfter" }  #end
  }
}
