@import "~@/styles/vars.scss";

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $body-font-size-sm;
  font-weight: 300;
  width: 16rem;

  button {
    padding: 0px 8px 2px 8px;
  }

  // Keep text baseline aligned with the button text
  & > span {
    margin: 0 $spacer-sm;
    white-space: nowrap;
  }

  &.main > span { padding-bottom: 2px; }

  input[type=text] {
    min-width: 0;
  }

  &.by-year {
    width: 23rem;

    svg {
      cursor: pointer;
      margin: 0 $spacer-xs;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      width: 18rem;

      li {
        cursor: pointer;
        display: inline-block;
        width: 3rem;
      }
    }
  }

}
