@import "~@/styles/vars.scss";

.divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 28rem;

  .left, .right {
    height: auto;
    width: 11.5rem;
    flex-shrink: 1;
  }

  .right { transform: scaleX(-1); }

  .year-label {
    font-family: var(--body-font-family);
    font-size: var(--header-font-size-sm);
    font-weight: 500;
    margin: 0 .5rem;
    width: 4rem;
  }
}
