@import "~@/styles/vars";

#deceased-ministers {

  .curtain {
    width: 100%;

    .drapes {
      background-color: $color-bg;
      opacity: 1;
    }

    .fringe {
      background-image: linear-gradient(
        to bottom,
        $color-bg, rgba(18, 24, 32, 0)
      );
    }
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    .drapes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .search {
        margin-top: $spacer;
      }
    }

    .fringe { height: $spacer; }
  }

  .ministers-list, .loading {
    margin-top: 9.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    opacity: 1;
    transition: opacity 1s;
    width: 28rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;


      li {
        padding: 0;
        margin: 0;
      }
    }

    .curtain {
      margin-top: $spacer-md;
      position: sticky;
      top: 10rem;

      .drapes { padding-top: 1rem; }
      .fringe { height: $spacer-md; }
    }

    .minister-nameplates {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &.reset {
      opacity: 0;
    }
  }

  .loading {
    ul.minister-nameplates li {
      animation: 2s ease-in infinite alternate pulseOpacity;
      background-color: lighten($color-bg, 8%);
      border-radius: 4px;
      display: inline-block;
      height: 4rem;
      margin-top: 10.5rem;
      margin: 1rem;
      width: 12rem;
    }
  }
}

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
