@import "~@/styles/vars";

#general-board {
  .curtain {
    width: 100%;

    .drapes {
      background-color: var(--color-bg);
      opacity: 1;
      padding-top: $spacer-md;
    }

    .fringe {
      background-image: linear-gradient(
        to bottom,
        var(--color-bg), rgba(18, 24, 32, 0)
      );
    }
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    .drapes {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .fringe { height: $spacer; }
  }

  .member-list, .loading {
    list-style: none;
    margin-top: 7.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    opacity: 1;
    padding: 0;
    transition: opacity 1s;
    width: 28rem;

    ul.member-nameplates {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0 $spacer-xs;
        width: 100%;
        align-items: center;
        justify-content: center;

        .name {
          font-family: var(--header-font-family);
          font-size: 1.5em;
          text-shadow: 0px 4px 4px var(--color-shadow);
        }

        .title {
          font-family: var(--body-font-family);
          font-size: 1.125em;
        }

        hr {
          background-color: var(--color-fg);
          height: 1px;
          flex-grow: 1;
          margin: 0 $spacer-sm;
          opacity: 0.15;
          z-index: -1;
        }
      }

      &.no-title li {
        width: 48%;

        hr { display: none; }
      }
    }

    .curtain {
      position: sticky;
      top: 7rem;

      .drapes { padding-top: 1rem; }
      .fringe { height: $spacer-md; }
    }

    .member-nameplates {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $spacer-md auto;
    width: 28rem;
  }
}
