@import "~@/styles/vars";

#order-of-the-faith {

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacer;
    padding-top: $spacer-md;
    width: 100%;

    .search {
      opacity: 0; // TODO: remove
      margin-top: $spacer;
    }

    .logo-and-title {

      display: flex;
      flex-direction: row;
      align-items: center;

      .ootf-logo {
        height: $spacer-xl;
      }

    }
  }

  .overview {
    margin: $spacer-md auto;
    text-align: left;
    width: 26rem;

    .ootf-logo {
      float: left;
      margin: $spacer-lg $spacer-md $spacer-lg 0;
    }

    .button-bar {
      margin: $spacer-md;
      text-align: center;

      .button.action {
        margin: $spacer-md auto;
      }
    }
  }

  .ministers-page {
    margin: $spacer auto;
    transition: opacity 0.5s;
    width: 28rem;

    &.updating {
      opacity: 0;
    }

    h4 {
      font-family: $header-font-family;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .entries {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .button-bar {

      display: flex;
      flex-direction: row;

      .button {
        margin: $spacer-sm;
      }

      .button.action {
        margin-left: auto;
      }
    }
  }
}
