@import "~@/styles/vars";

#order-of-the-faith {

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: $spacer;
    width: 100%;

    .search {
      margin-top: $spacer;
    }
  }
}
